.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.file-tree-panel {
  width: 250px;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
  overflow: hidden;
}

.code-viewer-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
  overflow: hidden;
}

.chat-panel {
  width: 400px;
  min-width: 350px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

