.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
}

.right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
}

